* {

    margin: 0;

    padding: 0;

}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border: #444 1px solid;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: rgb(200, 243, 247);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #6ed1d83d;

    display: none;
    overflow: hidden;
    margin-bottom: 10px;
    border: solid #6ed1d81c;
    border-radius: 4px;

}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    /* color: rgb(119, 119, 119); */
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}



@font-face {
    font-family: 'merienda';
    src: url('/fonts/Merienda-Bold.woff') format('woff'),

        url('/fonts/Merienda-Bold.ttf') format('truetype');

}



h1,
h2 {
    font-family: merienda, 'Courier New', Courier, monospace;
}



header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    padding: 5px;

}

.top {
    display: flex;
    justify-content: center;
    width: 80%;
}

.banniere {
    display: flex;
    height: 100%;

}

@media (max-width: 576px) {

    .banniere {
        display: flex;
        flex-direction: column;
        height: 100%;


    }

    #demande {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-left: 18px;
    }

    .formulaire {
        margin-top: 2%;
        display: flex;
        justify-content: center;


    }

    .logo {
        display: flex;
        justify-content: center;
        height: 75%;
    }

    .top {
        margin-left: 25px;
        display: flex;
        justify-content: center;
        height: 20%;

    }

}

.titre {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.formulaire {
    display: flex;
    justify-content: center;

}



h1 {
    font-size: 4.5em;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to right, red 0%, orange 20%, green 40%, teal 63%, blue 75%, purple 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: black 0.5px;
    text-align: center;

}

@media (max-width: 576px) {
    h1 {
        font-size: 3.8em;
        padding: 1px;
        margin: 0px;
        background: linear-gradient(to right, red 0%, orange 20%, green 40%, teal 63%, blue 75%, purple 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: black 0.5px;
        text-align: center;

    }

}

@media (min-width: 1090px) {
    h1 {
        font-size: 9.4em;
        padding: 10px;
        margin: 0px;
        background: linear-gradient(to right, red 0%, orange 20%, green 40%, teal 63%, blue 75%, purple 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: black 0.5px;
        text-align: center;

    }

}


h2 {
    text-align: right;
    padding: 0px;
    margin: 0px;
    font-size: 1em;

}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;


    background-image: url("/images/green.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#btn {
    display: inline-block;
    background-color: #046d12;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 17px;
    padding: 3px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}

@media (min-width: 1090px) {


    #btn {
        /* block-size: 70px; */
        font-size: 1.3em;
        width: 170px;


    }

    #rechercher {


        font-size: 1.9em;
        font-weight: bold;
        min-width: 175px;



    }

    #demande {
        width: 100%;

        display: flex;
        justify-content: center;

        align-items: center;
        padding-left: 18px;
    }

}

@media (max-width: 576px) {

    .formulaire {
        block-size: 250%;
    }

    #demande {
        width: 100%;
    }

    #btn {
        block-size: 70px;
        font-size: 1.3em;
        width: 42.6%;


    }

    #rechercher {

        font-size: 10pt;
        font-size: 1.9em;
        font-weight: bold;
        min-width: 39%;
        min-height: 25%;

    }


}

#btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#btn span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#btn:hover {
    background-color: #4f7c55;
}

#btn:hover span {
    padding-right: 25px;
}

#btn:hover span:after {
    opacity: 1;
    right: 0;
}

#rechercher {
    height: 20px;
    display: inline-block;
    border-radius: 10px;
    border: 4px double #046d12;
    text-align: center;
    font-size: 15px;
    padding: 3px;
    width: 150px;
    margin: 3px;

}

.loupe {


    background: url("/images/loupe.svg") no-repeat left;
    background-size: 20px;

}

main {
    margin: 10px;
    width: 100%;
    position: relative;

}

@media (max-width: 576px) {

    main,
    section {
        flex-direction: column;

        align-items: center;
    }

    main {
        margin: 1px;
        padding: 1px;
        width: 100%;
        position: relative;

    }
}



footer {
    /* margin: 3px; */
    position: relative;

    width: 100%;
    bottom: 0px;
    justify-content: center;


}

@media (min-width: 1090px) {

    .liste>li {
        display: inline;



        border-radius: 10px;
        border: 1px solid #046d12;
        padding: 1px 10px 1px 7px;

        font-size: 1.3em;
    }



}


#container {
    display: flex;
    min-width: 100%;

    flex-direction: column;
    justify-content: center;



}

.liste {
    display: flex;

    text-align: center;
    margin: 25px;
    margin-bottom: 5px;

    width: 100%;
    justify-content: center;
}

@media (max-width: 576px) {

    .liste {
        display: flex;
        text-align: center;
        flex-direction: column;

        margin: auto;


    }
}

.liste>li {
    display: inline;
    margin: auto;
    background-color: rgb(200, 243, 247);
    border-radius: 10px;
    border: 1px solid #046d12;
    padding: 1px 10px 1px 10px;
    width: 17%;
    cursor: pointer;
}

@media (max-width: 576px) {

    .liste>li {
        display: block;
        width: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: rgb(200, 243, 247);
        border-radius: 10px;
        border: 1px solid #046d12;
        padding: 1px 10px 1px 10px;
        cursor: pointer;
    }
}





.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: -moz-linear-gradient(#2edbe8, #01a6b2);
    background: -webkit-linear-gradient(#2edbe8, #01a6b2);
    background: -o-linear-gradient(#2edbe8, #01a6b2);
}

@media (max-width: 576px) {

    .modalDialog>div {
        width: 250px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: -moz-linear-gradient(#2edbe8, #01a6b2);
        background: -webkit-linear-gradient(#2edbe8, #01a6b2);
        background: -o-linear-gradient(#2edbe8, #01a6b2);
    }
}

.close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;

    border-radius: 12px;

    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #6ed1d8;
}

a:link {
    text-decoration: none;
}


section {
    width: 100%;
    display: none;
    margin: auto;

    justify-content: center;
}


.sectionVisible {
    width: 100%;
    display: flex;
    margin: auto;

    justify-content: center;
}


.photo {
    width: 30%;
    margin: 5px;
    margin-right: 15px;
    text-align: start;
    align-items: flex-start;
}

@media (max-width: 576px) {
    .photo {
        display: flex;
        width: 95%;
        margin: 1px;

        justify-content: center;
        margin-bottom: 10px;
    }

}

.score {
    display: flex;
    width: 20%;
    margin: 0px 15px 25px 25px;

    align-items: flex-end;
    flex-direction: column;

}

.score img {
    margin-bottom: 10px;
    width: 100%;

}

@media (max-width: 576px) {
    .score {

        display: flex;
        width: 90%;
        margin: 5px;

        align-items: center;
        flex-direction: column;

    }

    .score img {
        margin-bottom: 10px;

    }


    #imgNutri {
        width: 40%;
    }

    #imgNova {
        width: 20%;
    }

    #imgEcoscore {
        width: 40%;
    }

}

#imgProduct {
    width: 100%;
}


article {
    width: 55%;
    margin: 1px;

}

@media (min-width: 1090px) {
    article {
        font-size: 1.4em;
    }

    .accordion {
        font-size: 1.1em;

    }

}

@media (max-width: 576px) {
    article {
        width: 95%;
        margin: 1px;
        font-size: 1.2em;

    }

    .accordion {
        font-size: 1.1em;

    }

    #imgProduct {
        width: 30%;
    }

}


.allergen {
    color: rgb(151, 99, 3);
    font-weight: bold;


}


.table-style {
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(47, 136, 6, 0.15);
    cursor: pointer;
    margin: 0px auto;
    border: 2px solid rgb(3, 83, 34);
    vertical-align: middle;
}

thead tr {
    background-color: rgb(3, 83, 34);

    color: #fff;
    text-align: left;
}

th,
td {
    padding: 15px 20px;
    text-align: center;

}

@media (max-width: 576px) {

    th,
    td {
        padding: 2px 7px;
        text-align: center;

    }

}


tbody tr,
td,
th {
    border: 1px solid #ddd;

}

tbody tr:nth-child(even) {
    background-color: #f3f3f36e;
}

.gras {
    font-weight: bold;
}
